<div class="px-10 pt-24">
  <h1 class="text-lg font-bold">About</h1>
  <p class="text-xs"><span Highlight >Lorem ipsum dolor sit, amet consectetur adipisicing elit.</span> Natus enim nam, eaque quas doloribus iste velit porro sapiente. Ducimus sit at laborum voluptate optio dolorum, quasi velit facere unde animi?</p>
  <p class="text-xs">Numero de clientes @if (duration() > 0) {
    <app-counter [duration]="duration()" [message]="message()"/>
  }</p>
  <div>
    <app-wave-audio url="audio/audio.mp3"/>
  </div>
</div>
